/*html{
    color:darkblue;
    font-size:16px;
    background-color: #aae8e8;
}
*{
    outline: 1px solid red;
}

.header-wrapper,
.body-wrapper,
.footer-wrapper{
    width:100%;
    text-align: center;
}

header,
section,
footer{
    background-color: yellow;
}

.menu-box,
.title-box,
.user-box{
    display: inline-block;
}

.menu-box{
    
}

@media screen and (min-width: 320px){
    header,
    article,
    footer{
        width: 90%;
        margin: 0 auto 0 auto;
    }
}


@media screen and (min-width: 1140px){
    header,
    article,
    footer{
        max-width: 960px;
    }

    .body-tab{
        /*display: inline-block*/
    }

}*/