body{
    height:9999px;
}

div{
    background: blue;
    width:100px;
    height:100px;
    margin:10px;
    transition: transform 1s;
}

.subject{
/*    transition: transform 1s;*/
/*    transition: transform 1s ease-out;*/
    
}
.subject{
/*    transform:scale(1.5);*/
    animation: slider infinite;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.border{
    overflow: hidden;
    width: 600px;
    height: 200px;
    border: 1px solid black;
}
.slide_me{
    
    font-size: 4em;
    animation: text_slider infinite;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    white-space: nowrap;
}
    
@keyframes text_slider{
    from{
        transform: translate3d(150%,0,0)
    }
    to{
        transform: translate3d(-150%,0,0)
    }
}

@keyframes slider{
    0% {
        transform: translateX(0%) rotate(0deg);
        background: blue;
    }
    100%{
        transform: translateX(100%) rotate(180deg);
        background: red;
    }
}